*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  min-height: 100dvh;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@font-face {
  font-family: "Yasashii W01 Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./fonts/yassashiiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Pathway Gothic One";
  src: url("./fonts/pathicGothicOne.woff2");
  font-weight: normal;
  font-style: normal;
}
