.treble-piano-content {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 600px;
}

.treble-piano {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 400px;
  position: relative;
}

:focus {
  outline: none;
}

.white-key,
.black-key {
  display: grid;
  place-items: end center;
}

.white-key {
  border: none;
  background-color: white;
  color: black;
  border-radius: 0 0 5px 5px;
  box-shadow: inset -10px -37px 106px -71px rgba(0, 0, 0, 1);
}

.white-key:focus {
  box-shadow: inset -10px -37px 106px -49px rgba(0, 0, 0, 1);
}

.black-key {
  background-color: black;
  color: white;
  border: 1px solid black;
  position: absolute;
  height: 275px;
  width: 40px;
  border-radius: 0 0 5px 5px;
  box-shadow: -6px -6px 5px 0px rgba(130, 128, 128, 0.75) inset;
}

.black-key:focus {
  box-shadow: -4px -2px 5px 0px rgba(130, 128, 128, 0.75) inset;
}

.black-key:nth-child(2) {
  left: 10%;
}
.black-key:nth-child(4) {
  left: 26%;
}
.black-key:nth-child(7) {
  left: 53%;
}
.black-key:nth-child(9) {
  left: 68%;
}
.black-key:nth-child(11) {
  left: 83%;
}
