@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,400;6..12,700&display=swap");

.piano-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: "Nunito Sans", sans-serif;
}

.max-width-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
}

.piano-controller-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 2fr;
  width: 100%;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  background-color: hsl(0, 0%, 14%);
  border-bottom: 7px solid rgb(202, 7, 7);
  border-radius: 5px 5px 0 0;
}

.sustain-on {
  background-color: #89fc00;
}

.sustain-btn {
  border: none;
  display: grid;
  place-content: center;
  place-items: center;
  font-weight: 700;
  font-size: 0.8rem;
  background-color: lightgray;
  cursor: pointer;
  border-radius: 50%;
  padding: 0.5rem;
  aspect-ratio: 1;
  gap: 0.2rem;
  box-shadow: 0px 12px 31px 3px rgba(0, 0, 0, 0.4);
}

.octave-selection-container {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  padding: 0.5rem 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
}

.octave-row {
  display: flex;
  gap: 0.5rem;
}

.octave-btn {
  padding: 0.4em 0.8em;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: lightgray;
  box-shadow: 0px 12px 31px 3px rgba(0, 0, 0, 0.4);
}

.octave-btn:hover {
  background-color: whitesmoke;
}

.active-octave-btn {
  background: linear-gradient(30deg, #2b9348, #ccff33 80%);
  color: white;
}

.display-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem 0 0;
  color: white;
}

.display-title {
  align-self: center;
  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
}

.display-option-container {
  flex: 1;
  gap: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

.displayOption {
  cursor: pointer;
  position: relative;
  line-height: 1;
  padding: 0.5rem 0.5rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightgray;
  color: black;
  display: grid;
  place-items: center;
  box-shadow: 0px 12px 31px 3px rgba(0, 0, 0, 0.4);
}

.active-circle {
  border-radius: 50%;
  width: 0.8rem;
  aspect-ratio: 1;
  background-color: #6a040f;
}

.active-display-option .active-circle,
.active-sustain-btn .active-circle {
  background-color: #89fc00;
  box-shadow: 0 0 16px 5px #89fc00;
}

.sustain-btn:hover,
.displayOption:hover {
  background-color: whitesmoke;
}

@media (max-width: 580px) {
  .desktop-only {
    display: none;
  }

  .piano-controller-container {
    grid-template-columns: auto 2fr auto;
    padding: 0.5rem;
  }

  .octave-selection-container {
    overflow: auto;
  }

  .octave-row {
    max-width: 100%;
    overflow: auto;
    scroll-snap-type: inline mandatory;
  }

  .octave-btn {
    box-shadow: 0px 12px 80px 21px rgba(0, 0, 0, 0.1);
  }

  .octave-row > * {
    scroll-snap-align: start;
  }

  .display-option-container {
    grid-template-columns: 1fr;
  }

  .display-container {
    width: 100%;
  }
}
